div > div {
	height: 100px;
	width: 25%;
	background-color: #1DD726;
	float: left;
}
.rectangulo {
	width: 800px;
	margin-top: 10px;
	border: 2px solid orange;
}
.rojo{
	background-color: red;
}
.amarillo {
	background-color: yellow;
}
.azul {
	background-color: blue;
}
.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}